<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All movies</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All movies</h1>
    <a href="/movies/new">Add a New Movie</a>
    <ul>
      <% movies.forEach((movie) => { %>
      <%})%>
    </ul>
  </body>
</html>